# streamlit
# dotenv
# google-generativeai
# speech_recognition
gtts
streamlit
speechrecognition
google-generativeai
python-dotenv
streamlit
pyttsx3
SpeechRecognition
PyPDF2
python-dotenv
langchain
google-generativeai
langchain-community
faiss-cpu
